@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {
	
}

.album-art {
	float: left;
	border: 2px solid red;
	padding: 15px;
	margin: 2%;
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	float: left;
	border: 2px solid red;
	padding: 15px;
	margin: 2%;
	width: 220px;
	height: 135px;
}

.record-label {
	color: red;
	font-style: italic;
}

.track-list {

}

#about-photo {
	float: left;
	border: 1px solid red;
	padding: 15px;
	margin: 1%;
}

#copyright {
	color: red;
}

#section-about, #section-discography, #section-equipment {
	border: 2px solid red;
	padding: 25px;
	margin: 1%;
}

#text-intro {
	color: red;
	border: 1px solid red;
	padding: 15px;
	background-color: rgb(54, 54, 54)
}